body {
  background-color: #eee;
}

.image-container {
  width: 100%;
  height: 300px;
}

.image {
  height: 100%;
  width: 100%;
}

.shopping-cart {
  min-width: 550px;
}

.cart-image {
  width: 100px;
  aspect-ratio: 1;
  object-fit: contain;
}

.order {
  height: 100px;
  margin-bottom: 7rem;
}

.order .image-container {
  height: 100%;
  width: 25%;
}

.not_found {
  background-image: url("https://image.freepik.com/free-vector/blue-smoke-isolated-dark-transparent-background-realistic-blue-magic-mist-cloud-chemical-toxic-gas-steam-waves-realistic-illustration_119445-264.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 1200px;
}
